<h1>New Item</h1>
<%= form_for @item do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :user %>
	<%= f.text_field :user %>

	<%= f.label :body %>
	<%= f.text_area :body %>

	<%= f.submit %>
<% end %>
